# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/

# Java compiled files
*.class

# IntelliJ output
out/

# Eclipse
.classpath
.factorypath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db
